body {
    -webkit-font-smoothing: subpixel-antialiased;
}

.console-area {
    padding: 0;
    margin: 5px -10px 0 -10px;
}

.console {
    margin: 0;
    border: none;
    padding: 0;

    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #0d3163;
    color: #ffffff;

    overflow-x: hidden;
    overflow-y: hidden; /* may be changed to 'auto' for fixed-height console */
}

.console.collapsed {
    font-family: unset !important;
    background-color: unset !important;
    pointer-events: none;
}

.console.collapsed:before {
    content: "Show outdated console";
    margin-left: 10px;
    color: #337ab7 !important;
    cursor: pointer;
    pointer-events: all;
}

@media only screen and (min-width: 768px) {
    .console.collapsed:before {
        margin-left: 190px;
    }
}

.console.collapsed:hover:before {
    text-decoration: underline;
}

.console .line-buffer {
    background-color: #0d3163;
    color: #ffffff;

    margin: 0;
    border: none;
    padding: 10px;
}

.console.collapsed .line-buffer {
    display: none;
}

.console .line-buffer:empty {
    display: none;
}

.console .line {
    margin: 0;
    line-height: 1.4em;
    min-height: 1.4em;
    font-size: 0.85em;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    vertical-align: top;
}

.console .line > span[data-moment-title] {
    display: none; /* timestamp is hidden in compact view */
    color: #00aad7;
}

.console .line.pb {
    border: 1px solid currentColor;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.console .line.pb > .pv {
    background-color: currentColor;
    display: inline-block;
    min-width: 1.6em;
    text-align: center;
    transition: width .6s ease;
    text-overflow: clip;
    white-space: nowrap;
}

.console .line.pb > .pv:before {
    content: attr(data-value) '%';
    color: #0d3163;
}

@media (min-width: 768px) {

    .console .line {
        margin-left: 180px; /* same as dd */
    }

    .console .line > span[data-moment-title] {
        display: inline-block;
        width: 160px; /* same as dt */
        margin-left: -180px;
        margin-right: 20px;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: pre;
    }

    .console .line.pb > span[data-moment-title] {
        padding-right: 1px;
    }

}

/* Optional CSS3 bells and whistles */

.console.active {
    -webkit-transition: height .3s ease-out;
    -moz-transition: height .3s ease-out;
    -o-transition: height .3s ease-out;
    transition: height .3s ease-out;
}

.console.active .line.new {
    opacity: 0;
    animation: fadeIn 0.4s ease-out forwards;

    /* IE9 knows opacity (but not animation), and hides the line. 
       As a workaround, override this with IE-specific attribute. */
    filter: alpha(opacity=100);
}

@keyframes fadeIn {
    to { opacity: 1; }
}

/* !!! The following two blocks are important for smooth text animation !!! */

.console.active .line-buffer {
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.console.active .line.new, 
.console.active .line.new > span[data-moment-title] {
    background-color: inherit;
}

@media only screen {

    .console.waiting:after {
        content: '...';
        display: block;
        position: absolute;
        font-size: 0.85em;
        line-height: 1.4em;
        text-overflow: clip;
        overflow: hidden;

        width: 0;
        margin-left: 10px;
        animation: loadingDots 1s infinite steps(4);
        transform: translate(-1px, -1.4em);
    }

}

@media only screen and (min-width: 768px) {

    .console.waiting:after {
        margin-left: 190px;
    }

}

@keyframes loadingDots {
    to { width: 27px; }
}

.progress-circle {
    position: absolute;
    margin-left: -20px;
    margin-top: -3px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #eee;
    border-radius: 50%;
    float: left;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.progress-circle:after {
    border: none;
    position: absolute;
    top: 3px;
    left: 3px;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: white;
    content: ' ';
}

.progress-circle span {
    display: block;
    position: absolute;
    width: 24px;
    color: #888;
    z-index: 2;
    text-align: center;
    line-height: 24px;
    font-size: 9px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    letter-spacing: -0.5px;
}

.progress-circle .left-half-clipper {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    clip: rect(0, 24px, 24px, 12px);
}

.progress-circle.over50 .left-half-clipper {
    clip: rect(auto, auto, auto, auto);
}

.progress-circle .first50-bar {
    display: none;
}

.progress-circle.over50 .first50-bar {
    display: block;
    position: absolute;
    clip: rect(0, 24px, 24px, 12px);
    background-color: #337ab7;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.progress-circle .value-bar {
    position: absolute;
    clip: rect(0, 12px, 24px, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #337ab7;
    box-sizing: border-box;
}